@import url("https://fonts.googleapis.com/css?family=Beau Rivage");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&display=swap");

.image-overlay {
  position: relative;
  width: 100%;
  height: 80vh;
  /* Set height to 2/3 of viewport height */
  overflow: hidden;
  /* Hide overflow to prevent scrolling */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4),url("../../../public/assests/4.jpg"));
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* Ensure the entire container is covered */
}

.overlay-content {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  /* Ensure content appears on top of the image */
}

.title {
  color: rgb(12, 11, 11);
  font-size: 2.9rem;
  font-family: 'Beau Rivage', sans-serif;
  font-weight: 550;
  justify-content: center;
 

}

.title-box {
  background-color: white;
  border-radius: 40px; /* Adjust border radius as needed */
  padding: 2px 2px 5px 5px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Add drop shadow */
  margin-bottom: 4px;
}
.title{
  margin:0px;
}


.button-container {
  display: flex;
  flex-direction: row;
}

.find-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  height: 55px;
  /* Adjust height as needed */
  width: 120px;
  /* Adjust width as needed */
  display: inline-block;
  font-size: 1.4rem;
}