/* Your existing CSS rules */
@import url("https://fonts.googleapis.com/css?family=Beau Rivage");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&family=Inder&display=swap");

.card-container {
    margin-top: 30px;
    
}

.card-container h1 {
    font-family: 'Almendra', sans-serif;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}



.custom-card {
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    margin-left:50px;
    


}

.custom-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Ensure overflow is hidden to contain the zoom effect */
  }
  
  .custom-card:hover {
    transform: translateY(-5px) scale(1); /* Pop up effect on hover and zoom in the image */
  }
  
  .custom-card img {
    transition: transform 0.3s ease;
  }
  
  .custom-card:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
  }


.custom-card {
    margin: 0 5px; /* Add horizontal margin between cards */
}
.item-text {
    font-size: 1.4rem; /* Adjust the font size as needed */
    font-weight: 350;
    margin-left:80px;
}
