/* Your existing CSS rules */
.cards-container {
    margin-top: 30px;
}

.cards-container h1 {
    font-family: 'Almendra', sans-serif;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}



.customs-card {
    width: 300px;
    height: 280px;
    margin-bottom: 20px;

}


.customs-card {
    margin: 0 10px; /* Add horizontal margin between cards */
}

.texting {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: 300;
    margin-left:80px;
}
