/* Your existing CSS rules */
@import url("https://fonts.googleapis.com/css?family=Beau Rivage");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&family=Inder&display=swap");
.cards-container {
    margin-top: 30px;
}

.cards-container h1 {
    font-family: 'Almendra', sans-serif;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-left: 10px;
}



.customs-card {
    width: 300px;
    height: 280px;
    margin-bottom: 20px;

}


.customs-card {
    margin: 0 10px; /* Add horizontal margin between cards */
}

.texting {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: 300;
    margin-left:80px;
}


.customs-card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow: hidden; /* Ensure overflow is hidden to contain the zoom effect */
  }
  
  .customs-card:hover {
    transform: translateY(-5px) scale(1); /* Pop up effect on hover and zoom in the image */
  }
  
  .customs-card img {
    transition: transform 0.3s ease;
  }
  
  .customs-card:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
  }
  