@import url("https://fonts.googleapis.com/css?family=Beau Rivage");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Beau+Rivage&family=Inder&display=swap");


  .background-image img {
    height: calc(66.666vh); /* Adjust as needed */
    width: 100%; /* Ensures the image covers the entire width */
    object-fit: cover; /* Ensures the image covers the entire container */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%; /* Adjust as needed */
    left: 20%; /* Adjust as needed */
    transform: translate(-50%, -50%);
    
    color: white; /* Adjust text color as needed */
  }
  
  .overlay-text h1,p{
    margin:0;
    padding:0;
  }
 .overlay-text h1{
    font-size: 6.5rem;
    letter-spacing: 3px;
    font-family: 'Beau Rivage', sans-serif;
    font-weight: 700;

 }
 .overlay-text p{
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: 'Inder', sans-serif;
    font-weight: 700;
    margin-left:40px;

 }

 .object-container{
    margin-top:20px;
    justify-content:center;
    display:flex;
 }

 .conatact-card{
    width: 330px;
    height: 280px;
    margin-bottom: 20px;
    margin-right: 50px;

 }

.conatact-card .card-info1{
    font-size: 1.3rem;
    margin-left:20px;
    letter-spacing: 2px;
    font-family: 'Inder', sans-serif;
   
    
    
} 
.conatact-card .card-info2{
    font-size: 1.4rem;
    margin-left:100px;
    letter-spacing: 2px;
    margin-top:5px;
    font-family: 'Inder', sans-serif;
   
   
    
} 
.conatact-card .card-info3{
    font-size: 1.4rem;
    letter-spacing: 2px;
    margin-left:80px;
    font-family: 'Inder', sans-serif;
    
    
} 




.form-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-heading {
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    font-size: 14px; /* Different font size for the message textarea */
  }
  
  .submit-button {
    width: 100%;
    padding: 12px;
    background-color: #4c53af; /* Green color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #45a06b; /* Darker green color on hover */
  }
  
  /* Additional styling for better visual appearance */
  .form-group input,
  .form-group textarea {
    box-sizing: border-box;
    outline: none;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff; /* Blue color on focus */
  }
  